*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    /* width: 100vw;
    height: 100vh; */
    overflow: hidden;
    
    

}

.container {
    text-align:center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
     width: 375px;
    height: 550px; 
    background-color: aquamarine;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    /* align-items: center; */
    justify-items: center;
    margin: auto;
}

.center {
    text-align: center;
}



.row {
    margin: 10px;
}

.button {
    padding: 10px;
    margin: 0 10px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    width: 6vw;
    background-color: antiquewhite;
    color: blue;
    overflow: hidden;



}

/* .mx-auto {
    margin: auto;
} */

.row input {
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 19px;
    width: 22vw;
    color: brown;
}
